# Maintained by Ansible
listeners=PLAINTEXT://:{{broker.config.port}},SSL://:9093

{% include './includes/base_server.properties.j2' %}

# Confluent Support
{% include './includes/confluent_support.j2' %}
